<div class='content-wrapper'  ng-controller="MenuController">

     <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <!-- Accordion START -->
                            <div class="col-md-6">
                                <h4>List Menu</h4>
                                <div>
                                    <uib-accordion close-others="oneAtATime">

                                        <uib-accordion-group  ng-repeat="group in datass">
                                            <uib-accordion-heading>
                                                {{group.judul}}
                                            </uib-accordion-heading>

                                                    <div class="form-group" style="margin-bottom: 10px">
                                                        <label class="form-label" for="field-1">Judul</label>
                                                        <span class="desc"></span>
                                                        <div class="controls">
                                                            <input type="text" class="form-control" ng-model="group.judul" id="field-1">
                                                        </div>
                                                    </div>

                                                    <div class="form-group"  style="margin-bottom: 10px">
                                                        <label class="form-label" for="field-1">Link</label>
                                                        <span class="desc"></span>
                                                        <div class="controls">
                                                            <input type="text" class="form-control" ng-model="group.link" id="field-1">
                                                        </div>
                                                    </div>

                                                    <div style="text-align: right;margin-bottom: 30px">
                                                        <button type="button" ng-click = "save_update_menu(group.id)" class="btn btn-primary vimeo"><i class="fa fa-check"></i> Simpan</button> 
                                                    </div>

                                                <div ng-if="group.status_sub == '1'">
                                                <label class="form-label" for="field-1"> <strong>Sub Menu</strong></label>
                                                <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <table class="table table-bordered table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>judul</th>
                                                                        <th>status</th>
                                                                        <th width="50">action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="list in group.list_sub">
                                                                        <td>{{list.judul}}</td>
                                                                        <td>
                                                                            <span class="label label-success" ng-if="list.status === 1">Publish</span>
                                                                            <span class="label label-secondary" ng-if="list.status === 0">Draf</span>
                                                                        </td>
                                                                        <td>
                                                                            <button type="button" class="btn btn-info" ng-click="save_edit_sub(list.id)" class="btn btn-xs btn-default">
                                                                               <i class="fa fa-edit"></i> Rubah 
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div> 
                                             <div style="text-align: center;">
                                                <button type="button" class="btn btn-accent" ng-click="moveUP(group.id)" ng-if="!$first"><i class="fa fa-arrow-up"></i></button> 
                                                <button type="button" class="btn btn-accent" ng-click="moveDown(group.id)" ng-if="!$last"><i class="fa fa-arrow-down"></i></button> 
                                             </div>

                                        </uib-accordion-group>

                                    </uib-accordion>
                                </div>
                            </div>

                            <div class="col-md-6">
                            	<div style="margin: 20px 10px;">
                                    <button type="button " class="btn btn-primary youtube" ng-click="hapus_menu()"><i class="fa fa-trash-o"></i> Hapus Menu </button>
							    </div>
                                
                                <div>
                                     <uib-accordion close-others="oneAtATime">
                                        <uib-accordion-group heading="Custom Menu">
                                            <form ng-submit="save_custom_menu()" enctype="multipart/form-data">
                                                    <div class="form-group">
                                                        <label class="form-label" for="field-1">Judul</label>
                                                        <input type="text" class="form-control" ng-model="custom.judul" id="field-1">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label" for="field-1">Link</label>
                                                        <input type="text" class="form-control" ng-model="custom.link" id="field-1">
                                                    </div>
                                                <div style="float: right;">
                                                    <button type="submit" class="btn btn-info">Simpan</button>
                                                </div>
                                            </form>
                                        </uib-accordion-group>
                                    </uib-accordion>

                                    <uib-accordion close-others="oneAtATime">
                                        <uib-accordion-group heading="Menu" is-open="status.isFirstOpen">
                                            
                                            <div class="btn-group">
                                                <label class="btn btn-default" ng-click="klik_home()" style="margin: 5px 5px;" >Home </label>
                                                <label class="btn btn-default" ng-click="klik_fitur()" style="margin: 5px 5px;" >Fitur Menu </label>
                                                <label class="btn btn-default" ng-click="klik_daftar()" style="margin: 5px 5px;" >Daftar Harga </label>
                                                <label class="btn btn-default" ng-click="klik_testi()" style="margin: 5px 5px;" >Testimoni </label>
                                                <label class="btn btn-default" ng-click="klik_bantu()" style="margin: 5px 5px;" >Bantuan </label>
                                                <label class="btn btn-default" ng-click="klik_lainnya()" style="margin: 5px 5px;" >Lainnya </label>
                                            </div>
                                        </uib-accordion-group>
                                    </uib-accordion>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
        </div>


</div>