<ul class="wraplist wrapper-menu">

    <li ui-sref-active="active">
        <a ui-sref="app.crm-dashboard" class="nosub">
        <i class="material-icons">dashboard</i>
        <span class="title">Dashboard</span>
        </a>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons"></i>
        <span class="title">Product</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.kategori.kategori_semua">Kategori</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.produk.produk_semua">Produk</a>
            </li>
        </ul>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="fa fa-globe"></i>
        <span class="title">Daerah</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.provinsi.all">All Provinsi</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.provinsi.add">Tambah Provinsi</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.kabupaten.all">All Kabupaten</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.provinsi.add">Tambah Provinsi</a>
            </li>
        </ul>
    </li>
    
    <li ui-sref-active="active">
        <a ui-sref="app.packet.list" class="nosub">
        <i class="fa fa-list-alt"></i>
        <span class="title">List Harga</span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.slider.list" class="nosub">
        <i class="fa fa-image"></i>
        <span class="title">Slider</span>
        </a>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">people</i>
        <span class="title">Testimoni</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.client.all">Semua Testimoni</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.client.add">Tambah Testimoni</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.client.all_client">Semua Client</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.client.add_client">Tambah Client</a>
            </li>
        </ul>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.menu.list" class="nosub">
        <i class="fa fa-th-large"></i>
        <span class="title">Menu</span>
        </a>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="fa fa-globe"></i>
        <span class="title">Sosial Media</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.sosial.all">Semua Sosial Media</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.sosial.add">Tambah Sosial Media</a>
            </li>
        </ul>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.team.list" class="nosub">
        <i class="material-icons">people</i>
        <span class="title">Team</span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.pertanyaan.list" class="nosub">
        <i class="fa fa-question-circle"></i>
        <span class="title">Pertanyaan</span>
        </a>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="fa fa-cogs"></i>
        <span class="title">Setting</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.setting.home">Layout Home</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.setting.profile">Profile Website</a>
            </li>
        </ul>
    </li>

</ul>
<!-- / list