  <div ng-controller="HomeController">
  		<!-- <div class="preloader" id="preloader" ng-show="loading">
          <div class="spinner-grow text-secondary" role="status">
            <div class="sr-only">Loading...</div>
          </div>
        </div> -->
	  <!-- header --> 
	  <div data-ng-include=" 'views/components/header.html' "> 
	  </div>
	  <!-- / header -->

	  <div class="page-content-wrapper">
		   <div class="container" ng-controller="CartController">
	        <!-- Cart Wrapper-->
	        <div class="cart-wrapper-area py-3">
	          <div class="cart-table card mb-3">
	            <div class="table-responsive card-body">
	              <table class="table mb-0">
	                <tbody>
	                  <tr ng-repeat="produk in produks">
	                    <th scope="row" style="width: 50px"><a class="remove-product" ng-click="delete(produk.id_order)"><i class="lni lni-close"></i></a></th>
	                    <td>
	                    	<img ng-src="{{produk.gambar}}" alt="{{produk.nama_produk}}">
	                    </td>
	                    <td><span class="badge badge-success" ng-if="produk.jenis_label === 'bigsale'">{{produk.text_label}}</span>
			                <span class="badge badge-primary" ng-if="produk.jenis_label === 'new'">{{produk.text_label}}</span>
			                <span class="badge badge-danger" ng-if="produk.jenis_label === 'disc'">{{produk.text_label}}</span>
	                    	<a href="#!produk/{{produk.slug}}" class="top-product-card" style="font-size: 15px">
	                    	{{produk.nama_produk}}
	                    	<span class="sale-price" ng-if="produk.harga_promo">IDR {{produk.harga_promo | currency : "" : 0}}<span>IDR {{produk.harga | currency : "" : 0}}</span></span>
                    		<span class="sale-price" ng-if="!produk.harga_promo">IDR {{produk.harga | currency : "" : 0}}</span>
	                    	× {{produk.qty}}
	                    	</a>
	                	</td>
	                    <td style="width: 150px">
	                      <div class="quantity cart-form">
					        <div class="order-plus-minus d-flex align-items-center">
					          <div class="quantity-button-handler" ng-click="qty_kurang(produk.qty, produk.id_order)" >-</div>
					          <input class="form-control cart-quantity-input" type="number" name="qty" ng-model="produk.qty" >
					          <div class="quantity-button-handler" ng-click="qty_tambah(produk.qty, produk.id_order)" >+</div>
					        </div>
					      </div>
	                    </td>
	                  </tr>
	                </tbody>
	              </table>
	            </div>
	          </div>
	          <!-- Cart Amount Area-->
	          <div class="card cart-amount-area">
	            <div class="card-body d-flex align-items-center justify-content-between">
	              <h5 class="total-price mb-0">Total Harga : $<span class="counter">38.84</span></h5><a class="btn btn-warning" href="checkout.html">Checkout Now</a>
	            </div>
	          </div>
	        </div>
      	</div>
	  </div>

	  <!-- sidebar --> 
	  <div data-ng-include=" 'views/components/sidebar.html' "> 
	  </div>
	  <!-- / sidebar -->

	  <!-- footer --> 
	  <div data-ng-include=" 'views/components/footer.html' "> 
	  </div>
	  <!-- / sidebar -->
  </div>