<div class="row g-3">
<div class="col-12 col-md-7">
  <div class="billing-information-card mb-3">
    <div class="card billing-information-title-card">
      <div class="card-body">
        <h6 class="text-center mb-0">Alamat Pengiriman</h6>
      </div>
    </div>
    <div class="card user-data-card">
      <div class="card-body">                                   
        <div class="single-profile-data d-flex align-items-center justify-content-between">
          <div class="title d-flex align-items-center"><i class="lni lni-user"></i><span>Nama</span></div>
          <div class="data-content">{{user_datass.nama}}</div>
        </div>
        <div class="single-profile-data d-flex align-items-center justify-content-between">
          <div class="title d-flex align-items-center"><i class="lni lni-envelope"></i><span>Alamat Email</span></div>
          <div class="data-content">{{user_datass.email}}</div>
        </div>
        <div class="single-profile-data d-flex align-items-center justify-content-between">
          <div class="title d-flex align-items-center"><i class="lni lni-phone"></i><span>Telephone</span></div>
          <div class="data-content">{{user_datass.telephone || 0}}</div>
        </div>
        <div class="single-profile-data d-flex align-items-center justify-content-between">
          <div class="title d-flex align-items-center"><i class="lni lni-map-marker"></i><span>Alamat pengiriman</span></div>
          <div class="data-content">{{user_datass.provinsi}}, {{user_datass.kabupaten}}, {{user_datass.kecamatan}}
            <br>
            {{user_datass.address}}
          </div>
        </div>
        <a class="btn btn-default w-100" ng-click="edit_alamat()">Rubah Alamat Pengiriman</a>
      </div>
    </div>
  </div>

  <div class="shipping-method-choose mb-3">
    <div class="card shipping-method-choose-card" style="border-radius: .5rem .5rem .5rem .5rem">
      <div class="card-body">
        <div class="row g-3">
          <div class="col-12 col-md-7">
            <div class="shipping-method-choose">
              <div class="table-responsive">
                <table class="table mb-0">
                  <tbody>
                    <tr ng-repeat="produk in produks">
                      <td style="text-align: center;">
                        <img ng-src="{{produk.gambar}}" class="img-checkout" alt="{{produk.nama_produk}}">
                      </td>
                      <td><span class="badge badge-success" ng-if="produk.jenis_label === 'bigsale'">{{produk.text_label}}</span>
                        <span class="badge badge-primary" ng-if="produk.jenis_label === 'new'">{{produk.text_label}}</span>
                        <span class="badge badge-danger" ng-if="produk.jenis_label === 'disc'">{{produk.text_label}}</span>
                        <a href="#!produk/{{produk.slug}}" class="top-product-card" style="font-size: 15px">
                          {{produk.nama_produk}}
                          <br>
                          <p style="margin-top: 3px;margin-bottom: 0px">{{produk.qty}} barang</p>
                          <span class="sale-price" ng-if="produk.harga_promo">Rp. {{produk.harga_promo | currency : "" : 0}} <br><span>Rp. {{produk.harga | currency : "" : 0}} </span></span>
                          <span class="sale-price" ng-if="!produk.harga_promo">Rp. {{produk.harga | currency : "" : 0}}</span>
                        </a>
                        <br>
                        <span class="badge badge-default" ng-if="produk.size" style="background-color: #9a9a9a">{{produk.size}}</span>
                        <span class="btn btn-success btn-sm" ng-if="produk.color.color" style="background-color: {{produk.color.color}};border-color: {{produk.color.color}}"></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5">
            <div>
              <span><strong>Pilih Kurir Pengiriman</strong></span>
              <ul class="list-inline">
                <li class="user-dropdown fancy-dropdown">
                  <button class="btn btn-primary btn-lg btn-block w-100" ng-click="toggleOngkirDropdown($event)"><span ng-show="text_kurir">Kurir Pengiriman</span> 
                    <div class="spinner-border text-light" role="status" ng-show="showload" style="width: 20px;height: 20px"><span class="sr-only">Loading...</span></div>
                  </button>
                  <div style="position: relative;">
                    <span ng-hide="notif.kurir" class="notif-card" style="font-weight: none;font-size: 12px">Kurir Pengiriman Harus Isi</span>
                  </div>
                    <div ng-if="ongkirs" class="list_ongkir">
                      <div class="add_kurir">
                        <p><strong>Kurir Pilihan : <span class="font-size-ongkir" style="text-transform: uppercase;">{{ongkirs.ongkir}}</span></strong></p>
                        <p><b>{{ongkirs.service}}</b></p>
                        <p>(Rp. {{ongkirs.harga | currency : "" : 0}}) ({{ongkirs.hari}}) <span ng-if="ongkirs.ongkir !== 'pos'"> Hari</span></p>
                      </div>
                    </div>
                    <div class="height-ongkir">
                      <div class="list-ongkris">
                        <!-- JNE -->
                        <ul class="list-group menu" ng-show="showJne" ng-repeat="kurir in kurir.jne">
                          <li>
                              <li ng-repeat="servicess in kurir.costs">
                                  <span class="list-group-item list-kurir" ng-repeat="price in servicess.cost" ng-click='get_kurir(kurir.code, servicess.service, price.value, price.etd)'>
                                   <span style="text-transform: uppercase;">{{kurir.code}} :</span> 
                                   <div>
                                      <strong>{{servicess.service}}</strong>
                                   </div>
                                   <p>Rp. {{price.value | currency : "" : 0}} ({{price.etd}} Hari)</p>
                                 </span>
                              </li>
                          </li>
                        </ul>
                        <!-- POS -->
                        <ul class="list-group menu" ng-show="showJne" ng-repeat="kurir in kurir.pos">
                          <li>
                              <li ng-repeat="servicess in kurir.costs">
                                  <span class="list-group-item list-kurir" ng-repeat="price in servicess.cost" ng-click='get_kurir(kurir.code, servicess.service, price.value, price.etd)'>
                                   <span style="text-transform: uppercase;">{{kurir.code}} :</span> 
                                   <div>
                                      <strong>{{servicess.service}}</strong>
                                   </div>
                                   <p>Rp. {{price.value | currency : "" : 0}} ({{price.etd}})</p>
                                 </span>
                              </li>
                          </li>
                        </ul>
                        <!-- Tiki -->
                        <ul class="list-group menu" ng-show="showJne" ng-repeat="kurir in kurir.tiki">
                          <li>
                              <li ng-repeat="servicess in kurir.costs">
                                  <span class="list-group-item list-kurir" ng-repeat="price in servicess.cost" ng-click='get_kurir(kurir.code, servicess.service, price.value, price.etd)'>
                                   <span style="text-transform: uppercase;">{{kurir.code}} :</span> 
                                   <div>
                                      <strong>{{servicess.service}}</strong>
                                   </div>
                                   <p>Rp. {{price.value | currency : "" : 0}} ({{price.etd}} Hari)</p>
                                 </span>
                              </li>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

            </div>

          </div>


        </div>
      </div>
    </div>
</div>
<div class="col-12 col-md-5">
  <div class="shipping-method-choose mb-3">
    <div class="card shipping-method-choose-title-card bg-success">
      <div class="card-body">
        <h6 class="text-center mb-0 text-white">Ringkasan Belanja</h6>
      </div>
    </div>
    <div class="card shipping-method-choose-card">
      <div class="shipping-method-choose">
          <div class="table-responsive card-body">
            <table class="table mb-0">
              <tbody>
                <tr style="font-size: 14px">
                  <td>Total Harga ({{cout_produk}} Produk)</td>
                  <td style="text-align: right;">Rp. {{totals_produk | currency : "" : 0}}</td>
                </tr>
                <tr style="font-size: 14px" ng-if="ongkirs">
                  <td>Total Ongkos Kirim</td>
                  <td style="text-align: right;">Rp. {{ongkirs.harga | currency : "" : 0}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>

  <div class="card cart-amount-area">
    <div class="card-body d-flex align-items-center justify-content-between">
      <h5 class="total-price mb-0" ng-if="ongkirs">Rp. <span class="counter">{{subtotal | currency : "" : 0}}</span></h5>
      <h5 class="total-price mb-0" ng-if="!ongkirs">Rp. <span class="counter" style="color: red">-</span></h5>
      <a class="btn btn-warning" ng-click="pembayaran()">Pilih Pembayaran</a>
    </div>
  </div>
</div>
</div>