<div ng-controller="TrackControllers">
	<div class="preloader" id="preloader" ng-show="loading">
        <div class="spinner-grow text-secondary" role="status">
            <div class="sr-only">Loading...</div>
        </div>
   	</div>
	<!-- header --> 
	<div data-ng-include=" 'views/components/header_single.html' "> 
	</div>
	<!-- / header -->

	<!-- conntent -->
	<div class="page-content-wrapper">
		<div class="container">
			<div class="checkout-wrapper-area py-3" ng-if="datass.length > 0">
				<div class="shipping-method-choose mb-3" ng-repeat="item in datass">
					<div class="card shipping-method-choose-title-card" ng-style="item.status_transaksi === 'Diterima' && {'background-color':'green'}  || count !== 'Diterima' && {'background-color':'#818181'}">
						<div class="card-body">
							<h6 class="text-left mb-0 text-white" style="text-transform: capitalize;">Status Transaksi : {{item.status_transaksi}}</h6>
						</div>
					</div>

					<div class="checkout-wrapper-area" ng-repeat="items in item.produks">
						<div class="card cart-amount-area">
							<div class="d-flex align-items-center justify-content-between">
								<div class="table-responsive card-body">
									<table class="table mb-0">
										<tbody>
											<tr style="font-size: 14px">
												<td>Total Harga ({{items.total_kuantitas}})</td>
												<td style="text-align: right;">Rp. {{items.total_produk| currency : "" : 0}}</td>
											</tr>
											<tr style="font-size: 14px">
												<td>Total Ongkos Kirim</td>
												<td style="text-align: right;">Rp. {{items.harga_ongkir| currency : "" : 0}}</td>
											</tr>
											<tr style="font-size: 17px">
												<td><strong>Total Transaksi</strong></td>
												<td style="text-align: right;color: red;font-weight: 700">Rp. {{item.total_transkasi| currency : "" : 0}}</td>
											</tr>
										</tbody>
									</table>

									<table class="table mb-0">
										<tbody>
											<tr>
												<td style="border-bottom: none;font-size: 18px"><strong>Barang yang dibeli</strong></td>
												<td style="border-bottom: none"></td>
											</tr>
											<tr style="font-size: 14px">
												<td><strong>{{items.nama_produk}} - {{items.text}}, {{items.size}}</strong>
													<br>
													<span>{{items.kuantitas}} x Rp. {{items.harga | currency : "" : 0}}</span>
												</td>
												<td style="text-align: right;vertical-align: middle;">Rp. {{items.total_produk | currency : "" : 0}}</td>
											</tr>
										</tbody>
									</table>

									<div class="row">
										<div class="col-12 col-md-12 col-lg-12">
											<a class="btn btn-success" href="#!home" style="float: right;margin: 20px 0px;">Belanja Lagi</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="datass.length == 0">
				<div class="offline-area-wrapper py-3 d-flex align-items-center justify-content-center">
					<div class="offline-text text-center"><img class="mb-4 px-5" src="../css/track-null.png" width="400" alt="">
						<h5>Opps. Transaksi Tidak Ditemukan</h5>
						<p>Pada Saat ini Tidak Ada Transaksi..</p><a class="btn btn-primary" href="#!home">Belanja Sekarang</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- conntent -->

	<!-- sidebar --> 
	<div data-ng-include=" 'views/components/sidebar.html' "> 
	</div>
	<!-- / sidebar -->

	<!-- footer --> 
	<div data-ng-include=" 'views/components/footer.html' "> 
	</div>
	<!-- / sidebar -->
</div>