  <div ng-controller="HomeController">
  		<div class="preloader" id="preloader" ng-show="loading">
          <div class="spinner-grow text-secondary" role="status">
            <div class="sr-only">Loading...</div>
          </div>
        </div>
	  <!-- header --> 
	  <div data-ng-include=" 'views/components/header.html' "> 
	  </div>
	  <!-- / header -->

	  <div class="page-content-wrapper">
		  <!-- slider -->
		  <div data-ng-include=" 'views/slider.html' "></div>
		  <!-- end slider -->
		  <!-- kategori -->
		  <div data-ng-include=" 'views/kategori.html' "></div>
		  <!-- kategori -->
		  <!-- kategori -->
		  <div data-ng-include=" 'views/produk.html' "></div>
		  <!-- kategori -->
	  </div>

	  <!-- sidebar --> 
	  <div data-ng-include=" 'views/components/sidebar.html' "> 
	  </div>
	  <!-- / sidebar -->

	  <!-- footer --> 
	  <div data-ng-include=" 'views/components/footer.html' "> 
	  </div>
	  <!-- / sidebar -->
  </div>