<div ng-controller="RubahPasswordController">
  <div class="preloader" id="preloader" ng-show="loading">
    <div class="spinner-grow text-secondary" role="status">
      <div class="sr-only">Loading...</div>
    </div>
  </div>
  <div data-ng-include=" 'views/components/header_single.html' "> 
  </div>
  <!-- / header -->

  <!-- conntent -->
  <div class="page-content-wrapper">
    <div class="page-content-wrapper">
      <div class="container">
        <!-- Profile Wrapper-->
        <div class="profile-wrapper-area py-3">
          <!-- User Information-->
          <!-- User Meta Data-->
          <div class="card user-data-card" style="border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem">
            <div class="card-body">
              <form ng-submit="save_rubah()" role="form" name="form">
                <div class="mb-3">
                  <div class="title mb-2"><i class="lni lni-key"></i><span>Password Lama</span></div>
                  <input class="form-control" ng-model="datass.old_password" type="password">
                </div>
                <div class="mb-3">
                  <div class="title mb-2"><i class="lni lni-key"></i><span>Password Baru</span></div>
                  <input class="form-control" type="password" name="password" id="password" ng-model="datass.new_password" ng-minlength= "5" ng-maxlength= "20" ng-required="true">
                  
                  <div>
                    <span ng-show="form.password.$invalid" class="notif-card" style="font-weight: none;font-size: 12px;position: relative">
                         Password harus minimal 5 karakter
                    </span>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="title mb-2"><i class="lni lni-key"></i><span>Mengulang Password Baru</span></div>
                  <input class="form-control" type="password" name="password_repeat" ng-model="datass.repeat_password" ng-minlength= "5" ng-maxlength= "20" ng-required="true">
                  <div>
                    <span ng-show="form.password_repeat.$invalid" class="notif-card" style="font-weight: none;font-size: 12px;position: relative">
                         Password harus minimal 5 karakter
                    </span>
                  </div>
                </div>
                <button class="btn btn-success btn-lg w-100" type="submit"><span style="font-size: 16px" ng-hide="text">Rubah Password</span> 
                  <div class="spinner-border text-black" role="status" style="width: 20px;height: 20px" ng-hide="load"><span class="sr-only">Loading...</span></div>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- conntent -->

  <!-- sidebar --> 
  <div data-ng-include=" 'views/components/sidebar.html' "> 
  </div>
  <!-- / sidebar -->

  <!-- footer --> 
  <div data-ng-include=" 'views/components/footer.html' "> 
  </div>
  <!-- / sidebar -->
</div>