<!-- header --> 
    <div data-ng-include=" 'views/components/header.html' "> 
    </div>
    <!-- / header -->

    <!-- sidebar --> 
    <div data-ng-include=" 'views/components/sidebar.html' "> 
    </div>
    <!-- / sidebar -->

  <div class="page-content-wrapper" ng-controller="ProfileController">
      <div class="container">
        <!-- Profile Wrapper-->
        <div class="profile-wrapper-area py-3">
          <!-- User Information-->
          <div class="card user-info-card">
            <div class="card-body p-4 d-flex align-items-center">
              <div class="user-profile me-3"><img src="img/bg-img/9.jpg" alt=""></div>
              <div class="user-info">
                <p class="mb-0 text-white">{{user_datass.username}}</p>
                <h5 class="mb-0">{{user_datass.nama}}</h5>
              </div>
            </div>
          </div>
          <!-- User Meta Data-->
          <div class="card user-data-card">
            <div class="card-body">
              <div class="single-profile-data d-flex align-items-center justify-content-between">
                <div class="title d-flex align-items-center"><i class="lni lni-user"></i><span>Username</span></div>
                <div class="data-content">{{user_datass.username}}</div>
              </div>
              <div class="single-profile-data d-flex align-items-center justify-content-between">
                <div class="title d-flex align-items-center"><i class="lni lni-user"></i><span>Nama</span></div>
                <div class="data-content">{{user_datass.nama}}</div>
              </div>
              <div class="single-profile-data d-flex align-items-center justify-content-between">
                <div class="title d-flex align-items-center"><i class="lni lni-phone"></i><span>Telephone</span></div>
                <div class="data-content">{{user_datass.telephone || 0}}</div>
              </div>
              <div class="single-profile-data d-flex align-items-center justify-content-between">
                <div class="title d-flex align-items-center"><i class="lni lni-envelope"></i><span>Email</span></div>
                <div class="data-content">{{user_datass.email}}</div>
              </div>
              <div class="single-profile-data d-flex align-items-center justify-content-between">
                <div class="title d-flex align-items-center"><i class="lni lni-map-marker"></i><span>Lokasi</span></div>
                <div class="data-content">28/C Green Road, BD</div>
              </div>
              <!-- Edit Profile-->
              <div class="edit-profile-btn mt-3"><a class="btn btn-info w-100" href="#!edit-profile"><i class="lni lni-pencil me-2"></i>Edit Profile</a></div>
            </div>
          </div>
        </div>
      </div>
  </div>

<!-- footer --> 
    <div data-ng-include=" 'views/components/footer.html' "> 
    </div>