  <div ng-controller="SettingController">
	  <!-- header --> 
	  <div data-ng-include=" 'views/components/header.html' "> 
	  </div>
	  <!-- / header -->

	  <div class="page-content-wrapper">
		  <div class="page-content-wrapper">
      <div class="container">
        <!-- Settings Wrapper-->
        <div class="settings-wrapper py-3">
          <!-- Single Setting Card-->
          <div class="card settings-card">
            <div class="card-body">
              <!-- Single Settings-->
              <div class="single-settings d-flex align-items-center justify-content-between">
                <div class="title"><i class="lni lni-alarm"></i><span>Notifications</span></div>
                <div class="data-content">
                  <div class="toggle-button-cover">
                    <div class="button r">
                      <input class="checkbox" type="checkbox" ng-model='notifikasi.status' ng-change="notifikas(notifikasi.status)">
                      <div class="knobs"></div>
                      <div class="layer"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Setting Card-->
          <div class="card settings-card">
            <div class="card-body">
              <!-- Single Settings-->
              <div class="single-settings d-flex align-items-center justify-content-between">
                <div class="title"><i class="lni lni-lock"></i><span>Password</span></div>
                <div class="data-content"><a href="#!rubah/password">Change<i class="lni lni-chevron-right"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	  </div>

	  <!-- sidebar --> 
	  <div data-ng-include=" 'views/components/sidebar.html' "> 
	  </div>
	  <!-- / sidebar -->

	  <!-- footer --> 
	  <div data-ng-include=" 'views/components/footer.html' "> 
	  </div>
	  <!-- / sidebar -->
  </div>