<div class="container" ng-controller="SliderController">
        <div class="pt-3">
          <data-owl-carousel class="owl-carousel" data-options="{navigation: false, pagination: true, rewindNav : true, autoPlay: 4000,
            stopOnHover: true,
            slideSpeed: 300,
            paginationSpeed: 600,
            singleItem: true}">
              <div owl-carousel-item="" ng-repeat="item in slider" class="item">
                <div class="single-hero-slide" style="background-image: url('{{item.image}}')">
                  <div class="slide-text" style="padding-left: 2rem;padding-right: 1rem;position: absolute;bottom: 40%;width: 300px">
                      <h4 class="text-white mb-0">{{item.judul}}</h4>
                    </div>
                </div>
              </div>
            </data-owl-carousel>
        </div>
      </div>  