<div class="modal-header">
  <div class="row g-3">
            <!-- Single Weekly Product Card-->
            <div class="col-12">
              <div class="card weekly-product-card">
                <div class="card-body d-flex align-items-center">
                  <div class="product-thumbnail-side">
                      <img src="{{produks.gambar}}" alt="{{produks.nama_produk}}" style="max-height: 200px">
                    </div>
                  <div class="product-description">
                  	  <span class="badge badge-success" ng-if="produks.jenis_label === 'bigsale'">{{produks.text_label}}</span>
	                  <span class="badge badge-primary" ng-if="produks.jenis_label === 'new'">{{produks.text_label}}</span>
	                  <span class="badge badge-danger" ng-if="produks.jenis_label === 'disc'">{{produks.text_label}}</span>
	                  <br>
                    {{produks.nama_produk}}
                    <p class="sale-price" ng-if="produks.harga_promo" style="color: red">Rp. {{produks.harga_promo | currency : "" : 0}}<span style="color: #747794">Rp. {{produks.harga | currency : "" : 0}}</span></p>
                    <p class="sale-price" ng-if="!produks.harga_promo" style="color: red">Rp. {{produks.harga | currency : "" : 0}}</p>

                    <div class="product-rating">Sisa Barang : {{produks.stok}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-4 col-md-4" ng-if = "produks.warna.length > 0">
      <div class="choose-color-wrapper">
        <p class="mb-1 font-weight-bold" style="text-align: center;">Color</p>
          <div class="choose-color-radio d-flex align-items-center">
            <div class="form-check mb-0" ng-repeat="color in produks.warna">
              <input class="form-check-input" style="background-color: {{color.color}}" id="color-{{color.id}}" type="radio" name="colorRadio" value="{{color.id}}" ng-model="datass.colors">
                <label class="form-check-label" for="color-{{color.id}}"></label>
            </div>
          </div>
        </div>
    </div>
    <div class="col-4 col-md-4" >
      <p class="mb-1 font-weight-bold" style="text-align: center;">Qty</p>
      <div class="cart-form">
        <div class="order-plus-minus d-flex align-items-center">
          <div class="quantity-button-handler" ng-click="qty_kurang(datass.qty)" >-</div>
          <input class="form-control cart-quantity-input" type="number" ng-init="datass.qty=1" name="qty" ng-model="datass.qty" >
          <div class="quantity-button-handler" ng-click="qty_tambah(datass.qty)" >+</div>
        </div>
      </div>

    </div>
    <div class="col-4 col-md-4" ng-if = "produks.size.length > 0" >
      <div class="choose-color-wrapper">
        <p class="mb-1 font-weight-bold" style="text-align: center;">Size</p>
          <div class="choose-size-radio d-flex align-items-center" style="float: right;">
            <div class="form-check mb-0 me-2" ng-repeat="size in produks.size">
              <input class="form-check-input" id="size-{{size.id}}" type="radio" name="sizeRadio" value="{{size.size}}" ng-model="datass.size">
              <label class="form-check-label" for="size-{{size.id}}">{{size.size}}</label>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="addchart()"><i class="lni lni-shopping-basket"></i> Keranjang</button>
    <button class="btn btn-warning" style="color: #fff" ng-click="cancel()">Cancel</button>
</div>