<div class="modal-header modal-text">
  <span>Pembayaran</span>
</div>
<div class="modal-body" style="background-color: rgb(243, 244, 245)">
	<div class="checkout-wrapper-area py-3">
        <div class="choose-payment-method">
          <h6 class="mb-3 text-center">Metode Pembayaran</h6>
          <div class="row justify-content-center g-3">
            <!-- Single Payment Method-->
            <div class="col-12 col-md-12">
              <div class="single-payment-method"><a class="bank active" ng-click="metode('transfer bank')" style="cursor: pointer;"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-building mb-2 text-dark" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
              </svg>
              <h6>Transfer Bank</h6>
              <p>( Bank Transfer bayar via ATM, SMS, atau Internet Banking, konfirmasi pembayaran, setelah itu pesanan di kirim. )</p>
              </a></div>
            </div>
          </div>
        </div>
      </div>
    <h6 class="mb-3 text-center">Ringkasan Pembayaran</h6>
    <div class="card cart-amount-area">
    	<div class="d-flex align-items-center justify-content-between">
    		<div class="table-responsive card-body">
    			<table class="table mb-0">
    				<tbody>
    					<tr style="font-size: 14px">
    						<td>Total Tagihan</td>
    						<td style="text-align: right;">Rp. {{total | currency : "" : 0}}</td>
    					</tr>
    				</tbody>
    			</table>
    		</div>
    	</div>
    </div>
    <div ng-click="bayar(id_transaksi)" class=" col-12 col-md-12 btn btn-success" style="margin: 10px 0px">
    	<a>Bayar</a>
    </div>
</div>