<div class='content-wrapper' ng-controller="UserRubah">
    
<form ng-submit="save()" enctype="multipart/form-data">
    <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">User Baru</h2>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="input-group" inputgroup>
                                <span class="input-group-addon">
                                            <span class="arrow"></span>
                                <i class="fa fa-user"></i>
                                </span>
                                <input type="text" class="form-control" ng-model="form.nama" placeholder="Nama" required>
                            </div>
                            <br>
                            <div class="input-group" inputgroup>
                                <span class="input-group-addon">
                                            <span class="arrow"></span>
                                <i class="fa fa-user"></i>
                                </span>
                                <input type="text" class="form-control" ng-model="form.username" placeholder="Username" required>
                            </div>
                            <br>
                            <div class="input-group" inputgroup>
                                <span class="input-group-addon">
                                            <span class="arrow"></span>
                                <i class="fa fa-envelope"></i>
                                </span>
                                <input type="text" class="form-control" ng-model="form.email" placeholder="Email" required>
                            </div>
                            <br>
                            <div class="input-group" inputgroup>
                                <span class="input-group-addon">
                                            <span class="arrow"></span>
                                <i class="fa fa-lock"></i>
                                </span>
                                <input type="password" class="form-control" ng-model="form.password" placeholder="Password Baru">
                            </div>
                            <br>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
        <section class="box ">
            <div class="content-body padding-bottom-0">
                <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="button" class="btn" ui-sref="app.user.list" >Cancel</button>
                            </div>
                        </div>
                </div>
            </div>
        </section>
    </div>
</form>
</div>