<div class='content-wrapper'  ng-controller="ListHome">

     <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <!-- Accordion START -->
                            <div class="col-md-6">
                                <h4>List Page</h4>
                                <div>
                                    <uib-accordion close-others="oneAtATime">

                                        <uib-accordion-group  ng-repeat="group in datass">
                                            <uib-accordion-heading>
                                                {{group.judul}}  <i class="pull-right glyphicon"></i> 
                                            </uib-accordion-heading>
                                                    <div class="form-group">
                                                        <label class="form-label" for="field-1">Text</label>
                                                        <span class="desc"></span>
                                                        <div class="controls">
                                                            <input type="text" class="form-control" ng-model="group.text" id="field-1">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="form-label" for="field-1">Deskrispi</label>
                                                        <span class="desc"></span>
                                                        <div class="controls">
                                                            <textarea ng-model="group.deskripsi" class="form-control"></textarea>
                                                        </div>
                                                    </div>

                                                    <div style="text-align: right;margin-bottom: 30px">
                                                        <button type="button" ng-click = "save_update_page(group.id)" class="btn btn-primary vimeo"><i class="fa fa-check"></i> Simpan</button> 
                                                    </div>

                                                    <div ng-if="group.judul == 'Profile'">
                                                    <label class="form-label" for="field-1"> Fitur - Fitur Beranda</label>
                                                    <div class="row">
                                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                                <table class="table table-bordered table-striped">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>judul</th>
                                                                            <th style="width:20%">action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="list in group.list_fitur">
                                                                            <td>{{list.title}}</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-primary youtube" ng-click="hapus(list.id)" class="btn btn-xs btn-default">
                                                                                   <i class="fa fa-trash-o"></i> Hapus 
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div> 

                                        </uib-accordion-group>

                                    </uib-accordion>
                                </div>
                            </div>

                            <div class="col-md-6">
                            	<div style="margin: 20px 10px;">
                                    <button type="button " class="btn btn-primary youtube" ng-click="page_hpus()"><i class="fa fa-trash-o"></i> Hapus Page</button>
							    </div>
                                <div >
                                    <uib-accordion close-others="oneAtATimes">
                                        <uib-accordion-group heading="Fitur - Fitur" is-open="status.isFirstOpens" is-disabled="status.isFirstDisableds">
                                            <p>Menambahkan List Fitur di halaman Beranda</p>
                                            <div class="btn-group" ng-repeat="fiturs in fitur">
                                                <label class="btn btn-info" ng-click="klik_fitur(fiturs.id)" style="margin: 5px 5px;" >{{fiturs.title}} </label>

                                            </div>


                                        </uib-accordion-group>
                                    </uib-accordion>
                                </div>

                                <div >
                                    <uib-accordion close-others="oneAtATime">
                                        <uib-accordion-group heading="Page" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                                            <div class="btn-group">
                                                <label class="btn btn-default" ng-click="klik_menu('Slider')" style="margin: 5px 5px;" >Slider </label>
                                                <label class="btn btn-default" ng-click="klik_menu('Profile')" style="margin: 5px 5px;" >Profile</label>
                                                <label class="btn btn-default" ng-click="klik_menu('Client')" style="margin: 5px 5px;" >Client</label>
                                                <label class="btn btn-default" ng-click="klik_menu('Demo Request')" style="margin: 5px 5px;" >Demo Request </label>
                                                <label class="btn btn-default" ng-click="klik_menu('Fitur Unggulan')" style="margin: 5px 5px;" >Fitur Unggulan </label>
                                                <label class="btn btn-default" ng-click="klik_menu('Fitur Lainnya')" style="margin: 5px 5px;" >Fitur Lainnya </label>
                                                <label class="btn btn-default" ng-click="klik_menu('List Harga')" style="margin: 5px 5px;" >List Harga </label>
                                                <label class="btn btn-default" ng-click="klik_menu('Simulasi Harga')" style="margin: 5px 5px;" >Simulasi Harga </label>
                                                <label class="btn btn-default" ng-click="klik_menu('Simulasi Penawaran')" style="margin: 5px 5px;" >Simulasi Penawaran </label>
                                                <label class="btn btn-default" ng-click="klik_menu('Testimoni')" style="margin: 5px 5px;" >Testimoni</label>
                                                <label class="btn btn-default" ng-click="klik_menu('F&Q')" style="margin: 5px 5px;" >F&Q</label>
                                                <label class="btn btn-default" ng-click="klik_menu('Syarat dan Ketentuan')" style="margin: 5px 5px;" >Syarat dan Ketentuan</label>
                                                <label class="btn btn-default" ng-click="klik_menu('Kebijakan Privasi')" style="margin: 5px 5px;" >Kebijakan Privasi</label>
                                                <label class="btn btn-default" ng-click="klik_menu('Tentang Kami')" style="margin: 5px 5px;" >Tentang Kami</label>
                                                <label class="btn btn-default" ng-click="klik_menu('Kontak')" style="margin: 5px 5px;" >Kontak</label>
                                            </div>
                                        </uib-accordion-group>
                                    </uib-accordion>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
        </div>


</div>