<div class="modal-header" style="background-color: #37474f;">
    <h3 class="modal-title" style="color: #fff">Notifikasi</h3>
</div>
<div class="modal-body" >
    <div class="form-group">
           <label class="form-label" for="daterange-1">Text Notifikasi</label>
            <div class="input-group">
                <textarea  ng-model="form.text" cols="70" style="height: 100px;padding: 12px"></textarea>
            </div>
    </div>
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="save()"><i class="fa fa-check"></i> Simpan</button>
</div>