<div class="modal-header" style="background-color: #37474f;">
    <h3 class="modal-title" style="color: #fff">Tambah Size</h3>
</div>
<div class="modal-body" >
    <div class="form-group">
           <label class="form-label" for="daterange-1">Size</label>
            <div class="input-group">
                <input class="form-control" ng-model="form.size" type="text" />
            </div>
    </div>
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="save()"><i class="fa fa-check"></i> Simpan</button>
</div>