
<div class='content-wrapper'  ng-controller="ProdukAll">
    <button type="button" ui-sref="app.produk.produk_add" class="btn btn-sm btn-success">
        <i class="glyphicon glyphicon-plus"></i> Tambah Produk
    </button>
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Semua Produk</h2>
            </header>
            <div class="content-body padding-bottom-0">
            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                <div id="user_table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_length" id="user_table_length">
                                <label style="font-weight: normal">Show 

                                    <select name="user_table_length" aria-controls="user_table" class="form-control input-sm" ng-model="form.much" style="margin: 3px;" ng-change="init()">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>  
                                    <select name="user_table_length" aria-controls="user_table" class="form-control input-sm" ng-model="form.order"ng-change="init()">
                                        <option value="desc">Terbaru</option>
                                        <option value="asc">Terlama</option>
                                    </select>
                                </label>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div id="user_table_filter" class="dataTables_filter" style="float: right;">
                            <form ng-submit="search()">
                                <label style="font-weight: normal">Search : 

                                    <select name="user_table_length" aria-controls="user_table" class="form-control input-sm" ng-model="form.field_search" style="margin: 3px;" ng-change="init()">
                                        <option value="tb_produk.nama_produk">Nama</option>
                                        <option value="tb_kategori.title">Kategori</option>
                                        <option value="tb_produk.stok">Stok</option>
                                        <option value="tb_produk.harga">Harga</option>
                                    </select>
                                </label><input type="search"  ng-model="form.search" class="form-control input-sm" placeholder="" aria-controls="user_table">
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                        <th style="width:5%">No</th>
                                        <th style="width:13%">Nama</th>
                                        <th style="width:10%">Kategori</th>
                                        <th style="width:5%">Status</th>
                                        <th style="width:5%">Stok</th>
                                        <th style="width:5%">Harga</th>
                                        <th style="width:10%">Gambar</th>
                                        <th style="width:30%">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="row in datass">
                                    <td>{{$index+1}}</td>
                                    <td data-value="{{row.title}}">{{row.nama_produk}}</td>  
                                    <td data-value="{{row.title}}">{{row.name_kategori}}</td>  
                                    <td>
                                        <span class="label label-success" ng-if="row.status === 1">Publish</span>
                                        <span class="label label-secondary" ng-if="row.status === 0">Draf</span>
                                    </td> 
                                    <td>
                                        <span class="label label-success" ng-if="row.stok > 1">{{row.stok}}</span>
                                        <span class="label label-danger" ng-if="row.stok < 1">{{row.stok}}</span>
                                    </td>
                                    <td>{{row.harga | currency : "" : 0}}</td>  
                                    <td>
                                        <img ng-src="{{url_image}}{{row.gambar}}" width="100">
                                    </td>
                                    <td>
                                        <a href="#!/app/produk/produk_rubah/{{row.id}}" class="btn btn-info" style="margin-bottom: 5px"><i class="fa fa-edit"></i> Rubah</a>
                                        <a href="#!/app/produk/produk_gambar/{{row.id}}" class="btn" style="margin-bottom: 5px;background-color: #318963;color: #fff"><i class="fa fa-image"></i> Gambar</a>
                                        <a ng-click="revisi(row.id)" class="btn" style="margin-bottom: 5px;background-color: #5c5a5a;color: #fff"><i class="fa fa-wrench"></i> Revisi</a>
                                        <a ng-click="hapus(row.id)" class="btn" style="margin-bottom: 5px;background-color: #f6cb40;color: #fff"><i class="fa fa-bell"></i> Kirim Notifikasi</a>
                                        <a ng-click="hapus(row.id)" class="btn btn-danger" style="margin-bottom: 5px"><i class="fa fa-trash"></i> Hapus</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" ng-click="selectPage(currentPage)"></uib-pagination>
        <div class="clearfix"></div>
    </div>
</div>