<div class="modal-header" style="background-color: #436cac;">
    <h3 class="modal-title" style="color: #fff">Rubah slider</h3>
</div>
<div class="modal-body">
    <div class="form-group">
    	<label class="form-label" for="field-1">Judul</label>
    	<span class="desc"></span>
    	<div class="controls">
    		<input type="text" class="form-control" ng-model="form.judul" id="field-1">
        </div>
    </div>

</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" style="background-color: #85af27" ng-click="save()">simpan</button>
</div>