<div class="col-lg-12">
            <div class="content-body padding-bottom-0" style="background-color: #eef1f5">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                        <div class="wid-social facebook">
                            <div class="social-icon">
                                <i class='fa fa-file-image-o text-light icon-xlg pull-right' style="font-size: 38px"></i>
                            </div>
                            <div class="social-info">
                                <a ui-sref="app.slider.add" style="cursor: pointer; text-decoration: none">
                                    <h3 class="bold count text-light" style="position: relative;top: 14px;">Upload Image</h3>
                                    <h4 class="counttype text-light"></h4>
                                    <span class="percent">Upload Gambar Untuk Slider</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


<div class='content-wrapper'  ng-controller="sliderAll">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Semua Slider</h2>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form ng-submit="search()">
                            <input type="text" class="form-control" ng-model="search_name"  placeholder="Search Judul" />
                        </form>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                        <th style="width:5%">No</th>
                                        <th style="width:10%">Judul</th>
                                        <th style="width:20%">Gambar</th>
                                        <th style="width:10%">posisi</th>
                                        <th style="width:15%">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="row in datass">
                                    <td>{{$index+1}}</td>
                                    <td data-value="{{row.title}}">{{row.judul}}</td>  
                                    <td>
                                        <img ng-src="{{url_slider}}{{row.image}}" style="background-color: #46be8a" width="300">
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-accent" ng-click="moveUP(row.id)" ng-if="!$first"><i class="fa fa-arrow-up"></i></button> 
                                        <button type="button" class="btn btn-accent" ng-click="moveDown(row.id)" ng-if="!$last"><i class="fa fa-arrow-down"></i></button> 
                                    </td>
                                    <td>
                                        <a ng-click="modal_rubah(row.id)" class="btn btn-info"><i class="fa fa-edit"></i> Rubah</a>
                                        <a ng-click="hapus(row.id)" class="btn btn-danger"><i class="fa fa-trash"></i> Hapus</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" ng-click="selectPage(currentPage)"></uib-pagination>
        <div class="clearfix"></div>
    </div>
</div>