<div class='content-wrapper'  ng-controller="ListPacket">

     <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <!-- Accordion START -->
                            <div class="col-md-6">
                                <h4>List Packet</h4>
                                <div>
                                    <uib-accordion close-others="oneAtATime">

                                        <uib-accordion-group  ng-repeat="group in datass" is-open="status.open">
                                            <uib-accordion-heading>
                                                {{group.title}}  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> 
                                            </uib-accordion-heading>
                                                    <div class="form-group">
                                                        <label class="form-label" for="field-1">Title</label>
                                                        <span class="desc"></span>
                                                        <div class="controls">
                                                            <input type="text" class="form-control" ng-model="group.title" id="field-1">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="form-label" for="field-1">Harga (IDR)</label>
                                                        <span class="desc"></span>
                                                        <div class="controls">
                                                            <input type="text" class="form-control" ng-model="group.harga" id="field-1">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="form-label" for="field-1" style="color:red ">Spesial Text</label>
                                                        <span class="desc"></span>
                                                        <div class="controls">
                                                            <input type="text" class="form-control" placeholder="Spesial Text" ng-model="group.spesial_text" id="field-1">
                                                        </div>
                                                    </div>
                                                    <div style="text-align: right;margin-bottom: 30px">
                                                        <button type="button" ng-click = "save_update_packet(group.id)" class="btn btn-primary vimeo"><i class="fa fa-check"></i> Simpan</button> 
                                                    </div>

                                                <div>
                                                <label class="form-label" for="field-1"> <strong>List Produk</strong></label>
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <table class="table table-bordered table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Title</th>
                                                                        <th>Harga</th>
                                                                        <th width="50">action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="list in group.list_packet">
                                                                        <td>{{list.title}}</td>
                                                                        <td>{{list.harga | currency:'IDR '}}</td>
                                                                        <td>
                                                                            <button type="button" style="background-color: red;color: #fff" ng-click="removeRow(list.id)" class="btn btn-xs btn-default">
                                                                                <i class="material-icons icon-sm">close</i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                             </div> 
                                             <div style="text-align: center;">
                                                <button type="button" class="btn btn-accent" ng-click="moveUP(group.id)" ng-if="!$first"><i class="fa fa-arrow-up"></i></button> 
                                                <button type="button" class="btn btn-accent" ng-click="moveDown(group.id)" ng-if="!$last"><i class="fa fa-arrow-down"></i></button> 
                                             </div>

                                        </uib-accordion-group>

                                    </uib-accordion>
                                </div>
                            </div>

                            <div class="col-md-6">
                            	<div style="margin: 20px 10px;">
							    	<button type="button " class="btn btn-success" ng-click="open()">Tambah Kategori Packet</button>
                                    <button type="button " class="btn btn-primary youtube" ng-click="kategori_packet_hpus()"><i class="fa fa-trash-o"></i> Hapus Kategori Packet</button>
							    </div>
                                <div >
                                    <uib-accordion close-others="oneAtATime">
                                        <uib-accordion-group heading="Packet Produk" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                                            
                                            <form ng-submit="save_packet()" enctype="multipart/form-data">
                                                    <div class="btn-group">
                                                            <label class="btn btn-default" ng-model="list_produksss[row.id]" ng-repeat="row in datass_produk" uib-btn-checkbox style="margin: 5px 5px;" >{{row.title}} /  {{row.harga | currency:'IDR '}}
                                                            </label>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <br>
                                                    <br>
                                                    <div class="form-group">
                                                        <label class="form-label" for="field-1">Kategori Packet</label>
                                                            <div class="input-group" inputgroup>
                                                                <select class="form-control" ng-model="form.id_kategori" required>
                                                                    <option value="" ng-selected="true">--  Kategori  --</option>
                                                                    <option ng-repeat="key in datass" ng-value="{{key.id}}" >{{key.title}}</option>
                                                                </select>
                                                            </div>
                                                    </div>
                                                <div style="float: right;">
                                                    <button type="submit" class="btn btn-info">Simpan</button>
                                                </div>
                                            </form>
                                        </uib-accordion-group>
                                    </uib-accordion>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
        </div>


</div>