<div class='content-wrapper' ng-controller="ClientRubah">
    
<form ng-submit="save()" enctype="multipart/form-data">
    <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Tambah Testimoni</h2>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <div class="form-group">
                            <label class="form-label" for="field-1">Nama</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="form.nama" id="field-1">
                            </div>
                        </div>
                    </div>



                    <div class="col-md-12 col-sm-12 col-xs-12">
                            <label class="form-label" for="field-6">Deskripsi</label>
                        <div class="form-group wysiwyg">
                            <span class="desc"></span>
                            <div class="">
                                <div class="btn-toolbar m-b-sm btn-editor" data-role="editor-toolbar" data-target="#editor">
                                    <div class="btn-group dropdown margin-left-0" uib-dropdown>
                                        <a class="btn btn-default btn-border" uib-dropdown-toggle uib-tooltip="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href data-edit="fontName Serif" style="font-family:'Serif'">Serif</a></li>
                                            <li><a href data-edit="fontName Sans" style="font-family:'Sans'">Sans</a></li>
                                            <li><a href data-edit="fontName Arial" style="font-family:'Arial'">Arial</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group dropdown" uib-dropdown>
                                        <a class="btn btn-default btn-border" uib-dropdown-toggle data-toggle="dropdown" uib-tooltip="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href data-edit="fontSize 5" style="font-size:24px">Huge</a></li>
                                            <li><a href data-edit="fontSize 3" style="font-size:18px">Normal</a></li>
                                            <li><a href data-edit="fontSize 1" style="font-size:14px">Small</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-default btn-border" data-edit="bold" uib-tooltip="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                                        <a class="btn btn-default btn-border" data-edit="italic" uib-tooltip="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                                        <a class="btn btn-default btn-border" data-edit="strikethrough" uib-tooltip="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                                        <a class="btn btn-default btn-border" data-edit="underline" uib-tooltip="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-default btn-border" data-edit="insertunorderedlist" uib-tooltip="Bullet list"><i class="fa fa-list-ul"></i></a>
                                        <a class="btn btn-default btn-border" data-edit="insertorderedlist" uib-tooltip="Number list"><i class="fa fa-list-ol"></i></a>
                                        <a class="btn btn-default btn-border" data-edit="outdent" uib-tooltip="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                                        <a class="btn btn-default btn-border" data-edit="indent" uib-tooltip="Indent (Tab)"><i class="fa fa-indent"></i></a>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-default btn-border" data-edit="justifyleft" uib-tooltip="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                                        <a class="btn btn-default btn-border" data-edit="justifycenter" uib-tooltip="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                                        <a class="btn btn-default btn-border" data-edit="justifyright" uib-tooltip="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                                        <a class="btn btn-default btn-border" data-edit="justifyfull" uib-tooltip="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                                    </div>
                                    
                                    
                                    <div class="btn-group">
                                        <a class="btn btn-default btn-border" data-edit="undo" uib-tooltip="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                                        <a class="btn btn-default btn-border" data-edit="redo" uib-tooltip="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                                    </div>
                                </div><br>
                                <div ui-jq="wysiwyg" class="form-control wysiwyg-editor" ng-model="form.deskripsi" name="htmlcontent" id="desc_text" style="overflow:scroll;height:200px;max-height:200px">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                    <section class="nobox box ">
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12"style="margin-bottom: 20px">
                                    <input type="file" nv-file-select="" uploader="uploader" />
                                </div>
                                <div class="col-md-12" style="margin-bottom: 40px">
                                    <h3>Upload Gambar</h3>
                                    <p>Jumlah Upload Gambar: {{ uploader.queue.length }}</p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="50%">Nama</th>
                                                            <th ng-show="uploader.isHTML5">Size</th>
                                                            <th ng-show="uploader.isHTML5">Progress</th>
                                                            <th>Status</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in uploader.queue">
                                                            <td><strong>{{ item.file.name }}</strong></td>
                                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                            <td ng-show="uploader.isHTML5">
                                                                <div class="progress" style="margin-bottom: 0;">
                                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                                            </td>
                                                            <td nowrap>
                                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                                                </button>
                                                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            <h3>Gambar</h3>
                            <div style="max-height: 500px;overflow: hidden;">
                                <img ng-src="{{url}}{{form.image}}" alt="">
                            </div>
                    </div>
                    <input type="text" name="image" value="{{form.image}}" ng-model="form.image" hidden>
            </div>
        </section>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
        <section class="box ">
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                            <div class="form-group">
                                <label class="form-label" for="field-1">Tanggal</label>
                                <div class="input-group" inputgroup>
                                    <input type="text" class="form-control datepicker" uib-datepicker-popup="{{format}}" ng-model="form.date" is-open="dtpick.opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                    <span class="input-group-addon" ng-click="open($event,'opened')"><i class="fa fa-calendar" style="color: #999;"></i></span>
                                </div>
                            </div>
                    </div>
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="button" class="btn" ui-sref="app.client.all" >Cancel</button>
                            </div>
                        </div>
                </div>
            </div>
        </section>
    </div>
</form>
</div>