<div data-ng-include=" 'partials/components/topbar.html' " class="page-topbar {{app.settings.menuFolded ? 'sidebar_shift' : ''}} {{app.settings.chatFolded ? '' : 'chat_shift'}}"> 
  </div>
<div class="page-container row-fluid" ui-sectionbox ng-controller="ModalDemoCtrl">
    <div ng-if="app.type == 'crm'" data-ng-include=" 'partials/components/leftbar.crm.html' " class="page-sidebar {{app.settings.menuFolded ? 'collapseit' : 'expandit'}}  {{app.settings.chatFolded ? '' : 'chat_shift'}}"></div>

    <section id="main-content" class="{{app.settings.menuFolded ? 'sidebar_shift' : ''}} {{app.settings.chatFolded ? '' : 'chat_shift'}}">
    <div class="pull-left mobile-pagetitle"><h1>{{app.settings.pagetitle}}</h1></div>
    <section class="wrapper main-wrapper" style='' ui-view>

    </section>
    </section>

	<div class="chatapi-windows {{app.settings.chatFolded ? 'hideit' : 'showit'}}"></div>
  <div ng-if="app.type == 'music'" class="app-footer app-footer-fixed {{app.settings.menuFolded ? 'sidebar_shift' : ''}} {{app.settings.chatFolded ? '' : 'chat_shift'}}" data-ng-include=" 'app/partials/components/music.player.html' ">
  </div>
</div>


