<div class="card" ng-controller="LoginFormController">
   <form>
      <h2 class="title"> Login</h2>
      <p class="subtitle">login untuk ke Dashboard Dropshipper</p>
      <p class="or"></p>
      <div class="email-login">
         <label for="email"> <b>Username</b></label>
         <input type="text" placeholder="Enter Username" ng-model="user.name" required style="padding: 20px 20px;margin-top: 8px;margin-bottom: 15px;border: 1px solid #ccc;border-radius: 8px;box-sizing: border-box;">
         <label for="psw"><b>Password</b></label>
         <input type="password" placeholder="Enter Password" name="psw" ng-model="user.password" required style="padding: 20px 20px;margin-top: 8px;margin-bottom: 15px;border: 1px solid #ccc;border-radius: 8px;box-sizing: border-box;">
      </div>
      <button class="cta-btn" type="submit" ng-click="login()">Login</button>
   </form>
</div>




