<!-- <div class="login_page">
<div class="login-wrapper" ng-controller="LoginFormController">
    <div id="login" class="login loginpage col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
        <h1><a href="#" title="Login Page" tabindex="-1">Slant Admin - Angularss</a></h1>
        <img src="app/img/PharmAppColor.png" alt="">
        <form name="form" class="form-validation">
          <p>
                <input type="text" name="name" id="user_login" class="input" ng-model="user.name" placeholder="Username" required/></label>
            </p>
            <p>
                <input type="password" name="pwd" id="user_login" class="input" ng-model="user.password" placeholder="Password" required/></label>
            </p>
            <p class="submit">
            <button type="submit" ng-click="login()" ng-disabled='form.$invalid' class="btn btn-accent btn-block">Sign In</button>
            </p>
        </form>
        <p id="nav">
            <a class="pull-right" ui-sref="access.register" title="Sign Up">Sign Up</a>
        </p>


    </div>
</div>
</div> -->

  <div class="container" ng-controller="LoginFormController">
      <div class="login-header">
        <img src="app/img/PharmAppColor.png" alt="" style="width: 200px">
      </div>
      <div style="text-align: center;">
        <h3><strong>LOGIN</strong></h3>  
      </div>
      <form name="form" class="form-validation">
          <div class="input_area">
            <input type="text" name="name" id="user_login" ng-model="user.name" placeholder="Username" required/>
            <input type="password" name="pwd" id="user_login" ng-model="user.password" placeholder="Password" required/>
          </div>
          <div class="actions">
            <button type="submit" ng-click="login()" >Login</button>
          </div>
      </form>
      <div class="actions">
        <p>
          Tidak Punya Akun ?
          <a ui-sref="access.register" class="Sign_up_link">Register</a>
        </p>
      </div>
    </div>




