<!-- Sidenav Black Overlay-->
    <div class="sidenav-black-overlay" ng-click="suhaNavbarTogglerhide()">
    </div>
    <!-- Side Nav Wrapper-->
    <div class="suha-sidenav-wrapper" id="sidenavWrapper">
      <div class="sidenav-profile">
        <div class="user-profile">
          <img ng-src="{{image_user}}" alt="">
        </div>
        <div class="user-info">
          <h6 class="user-name mb-0">Hallo, <br>{{user.nama}}</h6>
        </div>
      </div>
      <ul class="sidenav-nav ps-0">
        <li><a href="#!profile"><i class="lni lni-user"></i>My Profile</a></li>
        
        <li><a href="#!setting"><i class="lni lni-cog"></i>Settings</a></li>
        <li><a ng-click="logout()" style="color: #fff;cursor: pointer;"><i class="lni lni-power-switch"></i>Sign Out</a></li>
      </ul>
      <div class="go-home-btn" id="goHomeBtn" ng-click="suhaNavbarTogglerhide()"><i class="lni lni-arrow-left"></i></div>
    </div>