<!-- Sidenav Black Overlay-->
    <div class="sidenav-black-overlay" ng-click="suhaNavbarTogglerhide()">
    </div>
    <!-- Side Nav Wrapper-->
    <div class="suha-sidenav-wrapper" id="sidenavWrapper">
      <div class="sidenav-profile">
        <div class="user-profile">
          <img ng-src="{{image_user}}" alt="">
        </div>
        <div class="user-info">
          <h6 class="user-name mb-0">Hallo, <br>{{user.nama}}</h6>
        </div>
      </div>
      <ul class="sidenav-nav ps-0">
        <li><a href="#!profile"><i class="lni lni-user"></i>My Profile</a></li>
        <li><a href="#!tracking"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16" style="margin-right: 4px">
          <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
        </svg> Tracking</a></li>
        <li><a href="#!setting"><i class="lni lni-cog"></i>Settings</a></li>
        <li><a ng-click="logout()" style="color: #fff;cursor: pointer;"><i class="lni lni-power-switch"></i>Sign Out</a></li>
      </ul>
      <div class="go-home-btn" id="goHomeBtn" ng-click="suhaNavbarTogglerhide()"><i class="lni lni-arrow-left"></i></div>
    </div>